* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: white;
  /* background-color: rgb(178, 243, 175); */
  color: rgb(54, 51, 51);
  overflow-x: hidden;
}
.App {
  display: grid;
  grid-template-columns: 200px calc(100vw - 220px);
  /* gap: 1vw; */
  grid-template-rows: 100%;

  grid-template-areas: "side main";
}

.cases {
  background-color: rgb(178, 243, 175);
  grid-area: main;
  /* width: 100vw; */
}

.info_box {
  align-self: flex-start;
}
.info_box button,
.btn {
  color: rgba(54, 51, 51, 0.849);
  background-color: #f3131388;
  border: none;
  font-size: 1rem;
  padding: 0.3rem 1rem;
  font-weight: 600;
  transform: scale(0);
  transition: transform 0.3s;
  cursor: pointer;
}
.btn {
  transform: scale(1) translateX(2rem);
  position: fixed;
  left: 50%;
}

.chart_box:hover > .info_box button {
  transform: scale(1);
}

.cases ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}

.popup_box {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.173);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.poup_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.614);
  animation: popup 0.3s;
}
@keyframes popup {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.poup_form h3 {
  color: rgb(208, 74, 47);
  font-size: 2rem;
}
.but_box {
  display: flex;
  gap: 1rem;
}
.but_box button {
  width: 100px;
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  color: rgba(0, 0, 0, 0.517);
  font-weight: 600;
  cursor: pointer;
}
.inputs {
  display: flex;
}
.inputs input {
  width: 50px;
}
.confirm {
  background-color: rgb(84, 248, 72);
}
.cancel {
  background-color: rgb(255, 44, 44);
}
