.Form {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.57);
}
.Form form {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(240, 248, 255, 0.868);
  padding: 5% 0;
  gap: 1rem;
  font-size: 1rem;
  clip-path: polygon(20% 0%, 100% 20%, 80% 100%, 0% 80%);
}
.Form form input,
.Form form button {
  font-size: 1rem;
  width: 50%;
  padding: 1rem 0.5rem;
  border: none;
}
.Form form input:focus {
  outline: none;
}
.Form form button {
  cursor: pointer;
  width: 20%;
  background-color: rgb(178, 243, 175);
}
