.btn_nav {
  width: 100%;
  font-size: 1rem;
  background-color: rgb(131, 130, 130);
  padding: 1rem 0.5rem;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
  color: rgb(178, 243, 175);
}
.logout {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
}
.Navbar {
  position: fixed;
  grid-area: side;
  height: 100%;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.57);
}
.Navbar ul::-webkit-scrollbar {
  display: none;
}

.Navbar ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  list-style: none;
  height: 85vh;
  overflow-y: scroll;
  scrollbar-width: none;
  margin: 0 auto;
}
.Navbar ul li {
  width: 100%;
}

.side_bar_box {
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: start;
  font-size: 1rem;
  cursor: pointer;
  color: rgb(178, 243, 175);
  font-weight: bold;
}

.side_bar_box a {
  align-self: flex-start;
}
.side_bar_box span {
  width: 80%;
}
